{% extends 'layouts/frontend/app.html' %}

 {% block body %}
 
 {% include 'partials/_nav.html' %} 

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-12">La Banque qui vous comprend !! </h1><br><br>
  <p class="col lead offset-md-4 col-md-4"> <span class="text-center">Vous revez d'une banque qui soit à vos cotés pour tous vos projets ? alors ne vous faites plus de soucis E-CORP BANK est la solution qui vous accompagne.</span></p>
</div>

 {% include 'partials/_footer.html' %}
 {% endblock body %}